<div class="text-center">
    <h1>Duck! I spy a wild Beatrice</h1>
    <h4>Just kidding. But it looks like you haven't added any products you'd like to buy to your cart yet. <br/>Please make your way to the 'Product Categories' page and peruse the list to add some nice products for yourself. </h4>
    <h5>Treat yoself, you deserve it :D</h5>
    <a asp-controller="ProductTypes" asp-action="Index">Browse Our Products</a>
</div>
