<div>
    <h1>You order is complete!</h1>
    <img src="https://media.giphy.com/media/TdfyKrN7HGTIY/giphy.gif" alt="Thank you!!!">
    <h4>Thank you for shopping with Bangazon. We value your support!</h4>
    <h5>Your order will be deleivered soon!!!</h5>
    <a asp-action="Home">Back to Home</a>
</div>
